*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(245, 235, 240);
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(83, 80, 80);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;

}
.main-png{
    display: flex;
    text-decoration: none;
    position: absolute;
    top:18px ;
    left: 220px;
    /*width: 6.12px;
    height: 6.5px;*/
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

/*------------------------underline animation and hover----------*/
/*
.nav-links a:hover{
    color: white;
}
*/
/*
.nav-links{
    ::after{
    position: absolute;
    content: "";
    height: 0.1em;
    top: 100%;
    background: rgb(68, 63, 63);
    z-index: -1;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.nav-links{
    :hover::after{
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);  
    transform: scaleX(1);
}
*/


/*---------------------import settings------------------*/
.nav-link {
    font-weight: bold;
    font-size: 14px;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: rgb(46, 45, 45);
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    border-radius: 5px;
    content: "";
    position: absolute;
    background-color: rgb(46, 45, 45);
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  /*--------------------------------------------------*/
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(68, 63, 63);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}
    /*-----------------------register form nav tag-------------------------*/
.register-form{
    /*height: 150vh;*/
    padding-top: 50px;
    height: 140vh;
    padding-top: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
/*
.box{
    width: 100%;
    height: 80%;
    background-color: #27272b;
    opacity: 0.3;

}
*/
    /*------------------form------------------------------------*/

/*
.form-nationality{
    padding-top: 20px;
    
    width: 40%;
    position: relative;
    height: 60px;
    overflow: hidden;
}
/*-----------------------full name------------------------------------*/
.form{
    width: 40%;
    position: relative;
    height: 60px;
    overflow: hidden;
}
.name{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 25px;
    border: none; 
    outline: none;
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width:100%;
    height: 100%;
    pointer-events:none ;
    border-bottom: 1px solid black;
}
.form label::after{
    content:"" ;
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform all 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left:0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus + .label-name::after, .form input:valid +
.label-name::after {
    transform: translateX(0%);
}

/*------------------gender----------------------*/
.gender{
    position: relative;
    padding-right: 200px;

    flex-direction: row;
    font-size: 14px;
   /* margin: 10px 0 ;*/
    color: #4d505a;
}
input[type="radio"]{
    /*position: relative;
    padding-left: 100px;*/
    margin: 0 15px 0 20px;
    font-size: 10px;
  }
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:#5fa8d3;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.label-name-gender{
    position: relative;
    padding-right: 80px;
    padding-left: 41;

}
.male{
    position: relative;
    padding-right: 0px;
}
/*-------------------------------------------*/

/*---------------------------DOB-----------------------==*/
.date-picker{
    position: relative;
    padding-right: 250px;
    left: 0px;
    font-size: 14px;
    color: #4d505a;
}
.calendar{
    position: relative;
    left: 160px;
    padding-right: 73px;
    color: #4d505a;

}

/*----------------------exam-label---------------*/
.exam-label{
    position: relative;
    right: 150px;
    font-size: 14px;
    color: #4d505a;

/*--------------next button-------------*/
}
.contaier-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.btn{
    border: none;
    margin: 20px;
   /* padding: 24px;*/
    height: 40px;
    width: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-size: 220%;
    transition: 0.6s;

}
.btn1{
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}
.btn:hover{
    background-position: right;
}

#button-container{
    padding-top: 100px;
    display: flex;
    justify-content:space-around;
    padding-left: 60%;
    padding-top: 0%;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30vh;

}

/*--------------------footer ------------------*/
.footer{
    text-decoration: none;
    position: relative;
    height: 80%;
    width: 100%;
    background-color: #29292b;
    min-height: 20vh;
    font-family: 'Poppins', sans-serif;
    padding-left: 550px;
    padding-top: 10vh;


}
.footer-links{
    position: relative;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;

}
.footer-contact-details{
    position: relative;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
    font-size: 13px;
    color: rgb(122, 119, 119);
}
.footer-contact-details li{
    padding-top: 1px;
}

footer p{
    padding-top: 30px;
    font-size: 14px;
    color: rgb(187, 181, 181);
}
.footer-lists{
    text-decoration: none;
    color: rgb(122, 119, 119); 
    padding-top: 10px;   
}
.footer-lists:hover{
    color: rgb(42, 175, 228);

}
.footer-lists li{
    padding-top: 1px;
}
/*------------------------------register2 exam table------------*/
.exam-table{
    position: relative;
    top: 10vh;
    width: 55%;
    height: 80%;
    font-size: 14px;
    text-align: left;
    color: #4d505a;
    padding-top: 15vh;
}
.table-row{
    position: relative;
    padding-top: 20px;
}
.table-input{
    text-align: center;
    border: none;
    /*border-color: white;*/
    pointer-events: fill;
    border-bottom: 0.1px solid #5fa8d3;
    color: #4d505a;


}
.table-input:hover{
    color: #5fa8d3;
}
.table-row input:hover{
    color: #5fa8d3;

}
.attempt:hover{
    color:#27272b;
    font-size: 15px;
}

/*--------------------register3 page-----------------------*/
.medium{
    position: relative;
    flex-direction: row;
    font-size: 14px;
   padding-top: 130px;
   padding-right: 100px;
    color:  #4d505a;
    font-weight: bold;
}
input[type="radio"]{
    /*position: relative;
    padding-left: 100px;*/
    margin: 0 15px 0 50px;
    font-size: 10px;
    
  }
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:#5fa8d3;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.label-name-medium{
    position: relative;
    padding-right: 40pxs;
    padding-left: 50px;

}
.sinhala{
    position: relative;
    padding-right: 100px;
    padding-left: 50px;
}
/*-----------------------------about page---------------------*/
.paragraph{
    position: relative;
    left: 100px;
    top: 70px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgb(187, 181, 181);
}
.about-page{
    position: relative;
    height: 30%;
    width: 100%;
    background-color: #353538;
    
}
/*-------------------itum first page image --------------*/
.itum-image{
    border: rgb(14, 13, 13);
    border-width: 5px;
    /*filter: blur(5px);*/
}